In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')

In [3]:
train.head()

   index      송하인_격자공간고유번호      수하인_격자공간고유번호 물품_카테고리  운송장_건수
0      0  5011000595017300  2871000192069300      음반       3
1      1  4148000690043300  5011000264024400   문화컨텐츠       3
2      2  5011000078068400  1120000007005400     농산물       3
3      3  4127100048006400  5011000587019400    기타식품       7
4      4  5011000078068400  2823700010076300     농산물       3

In [4]:
test.head()

   index      송하인_격자공간고유번호      수하인_격자공간고유번호      물품_카테고리
0      0  4167000577042200  5011000435014100          선케어
1      1  1156000009012200  5011000172034400       구강위생용품
2      2  4122000363057300  5011000361097300           캠핑
3      3  5011000436041400  2826000084036400       아웃도어가구
4      4  4150000241065200  5011000169044300  분유/이유식/아기간식

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         31684 non-null  int64
 1   송하인_격자공간고유번호  31684 non-null  int64
 2   수하인_격자공간고유번호  31684 non-null  int64
 3   물품_카테고리       31684 non-null  object
 4   운송장_건수        31684 non-null  int64
dtypes: int64(4), object(1)
memory usage: 1.2+ MB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7920 entries, 0 to 7919
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         7920 non-null   int64
 1   송하인_격자공간고유번호  7920 non-null   int64
 2   수하인_격자공간고유번호  7920 non-null   int64
 3   물품_카테고리       7920 non-null   object
dtypes: int64(3), object(1)
memory usage: 247.6+ KB

In [10]:
len(train['송하인_격자공간고유번호'].unique())

4229

In [11]:
len(train['수하인_격자공간고유번호'].unique())

26875

In [13]:
len(train['물품_카테고리'].unique())

100

In [16]:
train['물품_카테고리'].value_counts()[:20]

농산물          20321
문화컨텐츠         1091
음료            1034
수산             860
가공식품           846
기타식품           698
건강식품           591
음반             576
축산             383
냉동/간편조리식품      375
과자             320
생활용품           318
반려동물           315
주방용품           300
상의             294
기타패션의류         236
기타디지털/가전       220
스킨케어           205
문구/사무용품        167
건강용품           162
Name: 물품_카테고리, dtype: int64

In [23]:
train[train['물품_카테고리']=='건강용품'][['송하인_격자공간고유번호','수하인_격자공간고유번호','운송장_건수']]

           송하인_격자공간고유번호      수하인_격자공간고유번호  운송장_건수
69     4141000031030100  5011000370022100      11
178    4127300065073100  5011000373065300       4
845    4146100238100100  5011000426081400       5
1406   4141000031030100  5011000173088400      42
1476   4155000097032400  5011000258039200       3
...                 ...               ...     ...
29117  3023000012008100  5011000315073300       5
29308  3023000012008100  5011000315091100      10
29395  4146100353085100  5011000374054200       3
29434  4141000031030100  5011000315066200      10
30221  4127300065053100  5011000174001400       3

[162 rows x 3 columns]